{% extends 'base.html' %}
{% load static %}

{% block title %}找回密码{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock css %}
    

{% block content %}
    <div class="container content">
        <div class="row">
            <h2 class="sub-head">找回密码</h2>
            <form action="{% url 'loginApp:Repassword' %}" method="post">
                {% csrf_token %}
                <div class="form-floating" id="input-row">
                    <input class="form-control" type="username" id="username" name="username"  placeholder="请输入账号">
                    <label for="username">用户名</label>
                    <div id='error' style="color:red;">{{ errors.username }}</div>
                </div>
                <button id="register" class="btn btn-primary" type="submit"><p>确认</p></button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}
