{% extends 'base.html' %}
{% load static %}

{% block title %}找回密码{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock css %}
    

{% block content %}
    <div class="container content">
        <div class="row">
            <h2 class="sub-head">找回密码</h2>
                
                <form method="post" action="{% url 'loginApp:Repassword3' %}">
                    {% csrf_token %}
                    <div class="form-floating" id="input-row">
                        <input class="form-control"  type="text" id="username" name="email" placeholder="请输入您的账号邮箱" value="{{request.session.info.email}}" readonly>
                        <label for="username">邮箱</label>
                        <div id='error' style="color:red">{{ error.email }}</div>       
                    </div>

                    <div class="form-floating" id="input-row">
                        <input class="form-control" type="text" id="email" name="number" placeholder="请输入账号" value="{{request.session.info.username}}" readonly>
                        <label for="email">用户名</label>
                        <div id='error' style="color:red">{{ userid }}</div>
                    </div>

                    <div class="form-floating" id="input-row">
                        <input class="form-control" type="password" id="password" name="password"  placeholder="请输入密码">
                        <label for="password">密码</label>
                        <div id='error' style="color:red;">{{ errors }}</div>
                    </div>

                    <div class="form-floating" id="input-row">
                        <input class="form-control" type="password" id="password" name="password2"  placeholder="请确定密码">
                        <label for="password">重复密码</label>
                        <div id='error' style="color:red">{{ error }}</div>
                    </div>
                    
                    <button id="register" class="btn btn-primary" type="submit"><p>确认更改</p></button>
                </form>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}
