{% extends 'base.html' %}
{% load static %}

{% block title %}找回密码{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/login_style.css' %}"> -->
{% endblock css %}
    

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <h2 class="sub-head">找回密码</h2>
                <form action="{% url 'loginApp:sendcode' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group has-validation my-2">
                        <div class="form-floating">
                            <input class="form-control" style="width: 100%;" type="text" id="email" name="email" placeholder="请输入您的账号邮箱" value="{{request.session.info.email}}">
                            <label for="email">邮箱</label>
                        </div>
                        <div class="invalid-feedback" id='errors'>1{{ errors.email }}</div>
                        <button id="sendsms" class="btn btn-primary" type="submit">发送验证码</button>
                    </div>
                    <div id='error' style="color:red">{{ errors.email }}</div>
                </form>
                <form action="{% url 'loginApp:testcode' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group has-validation my-2">
                        <div class="form-floating">
                            <input class="form-control" style="width: 100%;" type="text" id="code" name="code" placeholder="请输入验证码" >
                            <label for="code">验证码</label>
                        </div>
                    </div>
                    <div id='error' style="color:red">{{ errors.code }}</div>
                    <button class="btn btn-primary my-2" type="submit">验证</button>
                </form>       
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script>
    
    $(function(){
        if({{ request.session.info.status }} == '3'){
            var time = 60;
            if(time==60){
               var time1=setInterval(function(){
                   if(time==0){
                       $("#sendsms").html("重新发送");
                       $("#sendsms").removeAttr("disabled");
                       time=60;
                       clearInterval(time1);
                   }else{
                       $("#sendsms").attr("disabled","true");
                       $("#sendsms").html("重新发送("+time+")");
                       time--;
                   }
                }, 1000);
           }
        }
    })
</script>
{% endblock %}
